/* ===========================
   NAVBAR
=========================== */

.navbar {
  height: 72px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cloud-icon {
  font-size: 32px;
  color: #2563eb;
}

.navbar-left h2 {
  font-size: 22px;
  color: #1e293b;
}

.navbar-left p {
  font-size: 13px;
  color: #64748b;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;

  background: #ecfdf5;
  color: #15803d;

  padding: 8px 14px;
  border-radius: 20px;

  font-size: 14px;
}

.status-dot {
  font-size: 10px;
  color: #22c55e;
}

.date {
  color: #475569;
  font-weight: 500;
}

.user-icon {
  font-size: 34px;
  color: #475569;
  cursor: pointer;
}